*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
  padding: 5px;
  /* background-color: rgb(199, 204, 207); */

  
}
h1{
    text-align: center;
    color: aliceblue;
    width: 500px;
}
.navBar{
      justify-content: space-between;
      padding: 5px;
      margin: auto;
}
.navBar a{
  text-decoration: none;
  color: aliceblue;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    background: #414A4F;
    cursor: pointer;
    
 
}
nav{
    margin: 0px 0px 0px 0px;
    padding: 5px;
    text-align: center;
    background-color: rgb(246, 189, 84);
    cursor: pointer;
   
}
nav a{
    text-decoration: none;
    color: black;
}
.container {
    height: 55px;
    margin: auto;
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #f8f0f0;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
.links{
   background-color: aliceblue;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
   height: 100vh;
   width: 250px;
   transform: translateX(-250px);
   transition: 0.5s;
}
.open .links{
  transform: translateX(0px);
  box-shadow: 0 0 15px  rgb(0,0,0,0.2);
}
.link{
   color: #414A4F;
   display: flex;
   align-items: center;
   padding: 15px;
   font-weight: 400;
   text-decoration: none;
   font-size: 16px;
}
.link.active,.link:hover{
  color: chocolate;
  background-color: antiquewhite;
}
.bar-overlay{
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0,0.2);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;


}
.open .bar-overlay{
  visibility: visible;
  opacity: 1;
}
.search{
    width: 600px;
    height: auto;
    position: relative;
    left: 0px;
    
    
  }
  .search .input{
    width: 90%;
    height:25px;
    top: 5px;
    left: 0px;
    border-radius: 4px;
    padding: 3px;
    padding-left: 50px;
    position: absolute;
    
  }
  .search .input:focus{
    border: 2px;
  }
  .search .searchbtn{
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 1;
    height: 34px;
    width: 40px;
    cursor: pointer;
    background-color: rgb(193, 220, 243);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
.loginbtn{
  padding-top: 2px;
  width: auto;
  font-size: 34px;
}
.cartbtn{
  padding-top: 2px;
  width: 100px;
  font-size: 34px;
}
.lineTwo{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-left: 12.5em;
  padding-top: 10px;
  width: 70%;
}
.slideshow{
   min-height: 80vh;
   width: 70%;
   margin: 2rem auto;
   position: relative;
   background: url("/image/slide1.jpeg") center/cover no-repeat ;
   transition: background 0.5s ease-in-out;
}
.sbtn-l{
  position: absolute;
  top: 50%;
  background-color: rgb(243, 244, 245);
  padding: .4em .6em;
  transform: translateY(calc(-50%));
  cursor: pointer;
  border-radius: 20px;
}
.sbtn-r{
  position: absolute;
  top: 50%;
  right: 0%;
  background-color: rgb(243, 244, 245);
  padding: .4em .6em;
  border-radius: 20px;
  transform: translateY(calc(-50%));
  cursor: pointer;
}
.gallery{
  background-color: aliceblue;
  margin: 50px;

  /* display:inline-block;
  margin: auto;
  margin-left: 30px;
  width: auto;
  justify-content: center;   */
}
.row{
  padding: 20px;
  gap: 20px;
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.gmap{
  margin: 30px;
  position: relative;
  left: 50svh;
}
.bottombar{
  background-color: #414A4F;
  padding: 20px;
  text-align: center;
  color: white;
  text-decoration: none;
  
}
.bottombar h2{
  text-decoration: underline solid rgb(199, 204, 207) 3px;
}
.bottombar a{
  text-decoration: none;
  color: white;
}
.btm {
  list-style-type: none;

}
.btm li{
  padding-top: 10px;
  margin-bottom: 1em;
}
.btm a{
  text-decoration: none;
  color: white;
  font-size: 17px;
}
.designedby{
  padding: 10px;
  background-color: orangered;
  text-align: center;
  font-size: 20px;
 
}
.designedby a{
  text-decoration: none;
  font-size: 20px;
  color: darkblue;
  
}
.designedby h2{
  color: black;
}
.loginbtn a{
  text-decoration: none;
  color: black;
}
.cartbtn a{
  text-decoration: none;
  color: black;
}
.des{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid black;
  width: 403px;
  border-radius: 5px;
  box-shadow: none;
}
.des:hover{
  border-color: orangered;
}
.des a{
  text-decoration: none;
  color: black;

}
